.Gallerycontainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}
.Gallerycontainer hr{
    width: 100%;
    margin-bottom: 10px;
    height: 1px;
    background-color: orangered;
}
.Gallerycontainer .title h2{
    font-size: 2rem;
    color: blueviolet;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}
.gallery{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery img{
    width: 360px;
    height: 200px;
    border-radius: 8px;
}
.gallery .imgCard{
    height: 500px;
    width: 400px;
    padding: 20px 10px;
    border: 1px solid rgb(199, 193, 193);
    text-shadow: none;
    transition: box-shadow 0.3s;
    border-radius: 12px;
    cursor: pointer;
}
.imgCard:hover {
    filter: drop-shadow(0 0 0 black);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  }
.imgCard .desc p{
    font-size: .9rem;
    margin: 20px 0;
    font-weight: 500;
    color: #333333;
}
.imgCard .cardTitle h4{
    font-size: 1.2rem;
    color: orangered;
    margin: 20px 0;
}
@media screen and (max-width:800px){
    .gallery img{
        height: 250px;
        width:350px;
    }
    .gallery .imgCard{
        width: 300px;
        height: 550px;
        margin: 10px auto;
    }
    .imgCard .desc p{
        margin: 20px 0;
        color: gray;
        font-weight: 500;
        font-size: 1rem;
    }
    .Gallerycontainer .title h2{
        font-size: 1rem;
    }
}
@media screen and (max-width:600px){
    .gallery img{
        height: 200;
        width:250px;
    }
    .Gallerycontainer .title h2{
        font-size: .9rem;
        letter-spacing: normal;
    }
    .gallery .imgCard{
        width: 300px;
        height: auto;
        margin: 10px auto;
        padding: 10px;
    }
}