.Gallerycontainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.Gallerycontainer .heading{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: blueviolet;
    letter-spacing: 2px;
}
.gallery{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery img{
    height: 400px;
    width: 400px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:600px){
    .gallery img{
        height: 300px;
        width: 300px;
    }
    .Gallerycontainer{
        width: 95%;
    }
}
